body {
    background: #DDD;
    
}
.post {
  /* border-top: 1px dashed #CCCCCC; */
  display: block;
  margin-left: 20px;
  width: 50%;
  
}
.post-body {
    background: none repeat scroll 0 0 #EEE;
    margin-top: 0px;
    padding-left: 8px;
    padding-bottom: 12px;
    padding-top: 9px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
    font-family: sans-serif;
    
    border-width: 2px;
    border-color: #CCC;
    border-style: solid;
    border-top: 0px;
    
}
.post-header {
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #cedce7 0%, #596a72 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #cedce7 0%,#596a72 100%); /* IE10+ */
    background: linear-gradient(-45deg,  #cedce7 0%,#596a72 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    color: #337;
    font-family: sans-serif;
    padding-left: 13px;
    margin-bottom: 0px
}


